<div class="w-full max-w-7xl mx-auto space-y-8">
    {% section 'hero-led-mask' %}
    {% section 'product-led-mask' %}
    {% section 'benefits-led-mask' %}
    {% section 'features-showcase' %}
    {% section 'compare-result' %}
    {% section 'comparison-section' %}
</div>
