{% comment %}
Main Product Template - References all sections
{% endcomment %}

{{ 'product-page.js' | asset_url | script_tag }}

{% comment %} Include CSS styles {% endcomment %}
{% include 'product-styles' %}

<div class="bg-[#F5F5DC] py-10 px-4 sm:px-8 lg:px-12">
    <!-- Main Product Layout -->
    <div class="max-w-7xl mx-auto flex flex-col lg:flex-row lg:justify-between lg:gap-10 mb-8">
        <!-- Include Media Section -->
        {% section 'product-media' %}
        
        <!-- Include Product Info Section -->
        {% section 'product-info' %}
    </div>

    <!-- Include Product Description -->
    {% section 'product-description' %}
    
    <!-- Include Comparison Table -->
    {% section 'product-comparison' %}
    
    <!-- Include Benefits Section -->
    {% section 'product-benefits' %}
    
    <!-- Include Features Section -->
    {% section 'product-features' %}
    
    <!-- Include Reviews Section -->
    {% section 'product-reviews' %}
</div>